In [2]:
lista = [
    "Esto es un texto",
    (1, 5, 10, 15, 20, 25),
    ["Azul", "Verde", "Amarillo"]
]

In [3]:
for color in lista[-1]:
    print(color)

Azul
Verde
Amarillo

In [4]:
for coleccion in lista:
    print(coleccion)

Esto es un texto
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [5]:
for coleccion in lista:
    for elemento in coleccion:
        print(coleccion, "=>", elemento)

Esto es un texto => E
Esto es un texto => s
Esto es un texto => t
Esto es un texto => o
Esto es un texto =>
Esto es un texto => e
Esto es un texto => s
Esto es un texto =>
Esto es un texto => u
Esto es un texto => n
Esto es un texto =>
Esto es un texto => t
Esto es un texto => e
Esto es un texto => x
Esto es un texto => t
Esto es un texto => o
(1, 5, 10, 15, 20, 25) => 1
(1, 5, 10, 15, 20, 25) => 5
(1, 5, 10, 15, 20, 25) => 10
(1, 5, 10, 15, 20, 25) => 15
(1, 5, 10, 15, 20, 25) => 20
(1, 5, 10, 15, 20, 25) => 25
['Azul', 'Verde', 'Amarillo'] => Azul
['Azul', 'Verde', 'Amarillo'] => Verde
['Azul', 'Verde', 'Amarillo'] => Amarillo

In [6]:
for coleccion_id, coleccion in enumerate(lista):
    for elemento_id, elemento in enumerate(coleccion):
        print(lista[coleccion_id][elemento_id])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [7]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

In [9]:
for fila in tabla:
    for columna in fila:
        print(columna, end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [10]:
# Para hacer modificaciones se necesitan los indices
for i, fila in enumerate(tabla):
    for j, columna in enumerate(fila):
        print(tabla[i][j], end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [11]:
tabla2 = [
    [3,3,3],
    [4,4,4],
    [5,5,5]
]

tabla3 = [
    [6,6,6],
    [7,7,7],
    [8,8,8]
]

In [12]:
cubo = [tabla, tabla2, tabla3]

In [13]:
print(cubo[0][2][1])

2

In [14]:
print(cubo[2][1][2])

7

In [15]:
for tabla in cubo:
    for fila in tabla:
        for columna in fila:
            print(columna)

0
0
0
1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
6
6
6
7
7
7
8
8
8

In [19]:
for k,tabla in enumerate(cubo):
    for i,fila in enumerate(tabla):
        for j,columna in enumerate(fila):
            print(cubo[k][i][j], end=" ")
        print()
    print()

0 0 0
1 1 1
2 2 2

3 3 3
4 4 4
5 5 5

6 6 6
7 7 7
8 8 8

In [20]:
matriz = [
    [8,  7,  0],
    [34, 2, -1],
    [5, -5, 12]
]

In [21]:
for i,fila in enumerate(matriz):
    for j,columna in enumerate(fila):
        if(matriz[i][j] % 2 == 0):
            matriz[i][j] = 0
        else:
            matriz[i][j] = 1

In [22]:
print(matriz)

[[0, 1, 0], [0, 0, 1], [1, 1, 0]]